form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.15rem solid rgb(32, 85, 88);
  border-radius: 2rem;
  width: 25%;
  margin: 2rem auto;
}
.label-div {
  margin-top: 0.75rem;
}
.label-div > label {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.25rem 0;
}
.btn {
  width: 5rem;
  height: 2.5rem;
  margin: 0.5rem 0 0.75rem 0;
  background: rgb(32, 85, 88);
  color: white;
  border-radius: 0.75rem;
}
.btn:hover {
  background: #0ef;
  color: black;
  transition: 0.8s ease;
}
